
<h1>{{announcement.title}}</h1>

<div innerHTML="{{announcement.htmlContent}}"></div>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Play Time</th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let game of gameService.currentUserList">
                    <td>{{game.name}}</td>
                    <td>{{game.playtime_forever}}</td>
                    
                    <td> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>