
@model Domain.DataTransferObjects.AccountDto

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">
                Add Account
            </h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="SteamLevel"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="SteamLevel" class="form-control" />
                        <span asp-validation-for="SteamLevel" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="SteamLink"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="SteamLink" class="form-control" />
                        <span asp-validation-for="SteamLink" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="BansCount"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="BansCount" class="form-control" />
                        <span asp-validation-for="BansCount" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="YearCreated"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="YearCreated" class="form-control" />
                        <span asp-validation-for="YearCreated" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="DateTimeAdded"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="DateTimeAdded" class="form-control" />
                        <span asp-validation-for="DateTimeAdded" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
