@model IEnumerable<Domain.DataTransferObjects.AccountDto>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Account List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Account" asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus"></i> Create New Account
            </a>
        </div>
    </div>
</div>

<br />
<br />

@if (Model.Count() > 0)
{
    <ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowGrouping="true" rowTemplate="#rowtemplate">
        <e-grid-pagesettings pageSize="4"></e-grid-pagesettings>
        <e-grid-columns>

            <e-grid-column field="Id" headerText="Id" width="60"></e-grid-column>
            <e-grid-column field="SteamLevel" headerText="Steam Level" width="100"></e-grid-column>
            <e-grid-column field="SteamLink" headerText="Steam Link" width="70"></e-grid-column>
            <e-grid-column field="BansCount" headerText="Bans" width="70"></e-grid-column>
            <e-grid-column field="Price" headerText="Price" width="70"></e-grid-column>
            <e-grid-column field="YearCreated" headerText="Year Created" width="105"></e-grid-column>
            <e-grid-column field="DateTimeAdded" headerText="Date Added" width="105" format="yMd"></e-grid-column>

        </e-grid-columns>
    </ejs-grid>
}

else
{
    <p>
        There are no accounts.
    </p>
}

<script>

    var url;
    function seeDetails(id) {

        url = "/Admin/Account/Details/" + id;
        window.location.href = url;
    }

    function deleteAcc(id) {

        url = "/Admin/Account/Delete/" + id;
        window.location.href = url;
    }

    function editAcc(id) {

        url = "/Admin/Account/Edit/" + id;
        window.location.href = url;
    }

    function addAnnouncement(id) {

        url = "/Admin/Announcement/Create?accountId=" + id;
        window.location.href = url;
    }

    function editAnnouncement(id) {
        url = "/Admin/Announcement/Edit?accountId=" + id;
        window.location.href = url;
    }

</script>


<script id="rowtemplate" type="text/x-template">

    <tr>
        <td class="text-center">${Id}</td>
        <td class="text-center">${SteamLevel}</td>
        <td class="text-center">${SteamLink}</td>
        <td class="text-center">${BansCount}</td>
        <td class="text-center">${Price}</td>
        <td class="text-center">${YearCreated}</td>
        <td class="text-center">${DateTimeAdded.toLocaleDateString()}</td>

        <td class="text-center">
            <div class="w-50 btn-group role=" group"">
                <button type="button" class="btn btn-secondary mx-2" onclick="seeDetails(${Id})">
                    <i class="far fa-eye"></i>
                </button>

                <button type="button" class="btn btn-primary mx-2" onclick="editAcc(${Id})">
                    <i class="fas fa-edit"></i>
                </button>

                <button type="button" class="btn btn-danger mx-2" onclick="deleteAcc(${Id})">
                    <i class="far fa-trash-alt"></i>
                </button>

                ${if(AnnouncementId > 0)}
                <button type="button" class="btn btn-secondary mx-2" onclick="editAnnouncement(${ Id })"> Edit </button>
                ${else}
                <button type="button" class="btn btn-primary mx-2" onclick="addAnnouncement(${ Id })"> Add </button>
                ${/if}

            </div>
        </td>

    </tr>
</script>
